

.containerImage {
    width: 8rem;
    height: 8rem;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.containerSectionImage {
    height: fit-content;
    position: absolute;
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
   
}